<?xml version="1.0" encoding="utf-8"?>

<config>
	<fieldset name="registration" label="COM_MUE_CONFIG_REG_LABEL" description="COM_MUE_CONFIG_REG_DESC" addfieldpath="/administrator/components/com_mue/models/fields">
		<field name="REG_PAGE_CONTENT" type="textarea" label="COM_MUE_CONFIG_FIELD_REG_PAGE_CONTENT_LABEL" description="COM_MUE_CONFIG_FIELD_REG_PAGE_CONTENT_DESC" rows="4" cols="70" class="inputbox" required="true" filter="safehtml" buttons="false" />
		<field name="FROM_EMAIL" type="text" label="COM_MUE_CONFIG_FIELD_FROM_EMAIL_LABEL" description="COM_MUE_CONFIG_FIELD_FROM_EMAIL_DESC" size="70" class="inputbox" required="false" default="" />
		<field name="FROM_NAME" type="text" label="COM_MUE_CONFIG_FIELD_FROM_NAME_LABEL" description="COM_MUE_CONFIG_FIELD_FROM_NAME_DESC" size="70" class="inputbox" required="false" default="" />
		<field name="WELCOME_SUBJECT" type="text" label="COM_MUE_CONFIG_FIELD_WELCOME_SUBJECT_LABEL" description="COM_MUE_CONFIG_FIELD_WELCOME_SUBJECT_DESC" size="70" class="inputbox" required="false" default="" />
		<field name="LOSTINFO_SUBJECT" type="text" label="COM_MUE_CONFIG_FIELD_LOSTINFO_SUBJECT_LABEL" description="COM_MUE_CONFIG_FIELD_LOSTINFO_SUBJECT_DESC" size="70" class="inputbox" required="false" default="" /> 
	</fieldset>
	<fieldset name="reports" label="COM_MUE_CONFIG_REPORTS_LABEL" description="COM_MUE_CONFIG_REPORTS_DESC" addfieldpath="/administrator/components/com_mue/models/fields">
		<field 
			name="on_list_field" 
			type="FieldInclude" 
			class="inputbox"
			label="COM_MUE_CONFIG_FIELD_ONLIST_LABEL"
			description="COM_MUE_CONFIG_FIELD_ONLIST_DESC" 
		/>
	</fieldset>
	<fieldset name="userdirectory" label="COM_MUE_CONFIG_USERDIR_LABEL" description="COM_MUE_CONFIG_USERDIR_DESC" addfieldpath="/administrator/components/com_mue/models/fields">
		<field name="userdir" type="radio" class="inputbox" label="COM_MUE_CONFIG_FIELD_USERDIR_LABEL" description="COM_MUE_CONFIG_FIELD_USERDIR_DESC" default="0">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</field>
		<field name="usrdir_sub" type="radio" class="inputbox" label="COM_MUE_CONFIG_FIELD_USERDIRSUB_LABEL" description="COM_MUE_CONFIG_FIELD_USERDIRSUB_DESC" default="0">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</field>
		<field name="userdir_title" type="text" label="COM_MUE_CONFIG_FIELD_USERDIR_TITLE_LABEL" description="COM_MUE_CONFIG_FIELD_USERDIR_TITLE_DESC" size="70" class="inputbox" required="false" default="" />
		<field name="on_userdir_field" type="FieldOnList" class="inputbox" label="COM_MUE_CONFIG_FIELD_ONUSERDIR_LABEL" description="COM_MUE_CONFIG_FIELD_ONUSERDIR_DESC" />
		<field name="userdir_mapfields" type="text" label="COM_MUE_CONFIG_FIELD_USERDIR_MAPFIELDS_LABEL" description="COM_MUE_CONFIG_FIELD_USERDIR_MAPFIELDS_DESC" size="70" class="inputbox" required="false" default="" />
		<field name="userdir_userinfo" type="text" label="COM_MUE_CONFIG_FIELD_USERDIR_USERINFO_LABEL" description="COM_MUE_CONFIG_FIELD_USERDIR_USERINFO_DESC" size="70" class="inputbox" required="false" default="" />
		<field name="userdir_searchinfo" type="text" label="COM_MUE_CONFIG_FIELD_USERDIR_SEARCHINFO_LABEL" description="COM_MUE_CONFIG_FIELD_USERDIR_SEARCHINFO_DESC" size="70" class="inputbox" required="false" default="" />
	</fieldset>
	<fieldset name="mailchimp" label="COM_MUE_CONFIG_MAILCHIMP_LABEL" description="COM_MUE_CONFIG_MAILCHIMP_DESC">
		<field name="mckey" type="text" label="COM_MUE_CONFIG_FIELD_MCKEY_LABEL" description="COM_MUE_CONFIG_FIELD_MCKEY_DESC" size="70" class="inputbox" required="false" default="" />
		<field name="mclist" type="text" label="COM_MUE_CONFIG_FIELD_MCLIST_LABEL" description="COM_MUE_CONFIG_FIELD_MCLIST_DESC" size="70" class="inputbox" required="false" default="" />
		<field name="mcvars" type="text" label="COM_MUE_CONFIG_FIELD_MCVARS_LABEL" description="COM_MUE_CONFIG_FIELD_MCVARS_DESC" size="70" class="inputbox" required="false" default="" />
	</fieldset>
	<fieldset name="subscribing" label="COM_MUE_CONFIG_SUBSCRIBE_LABEL" description="COM_MUE_CONFIG_SUBSCRIBE_DESC">
		<field name="subscribe" type="radio" class="inputbox" label="COM_MUE_CONFIG_FIELD_SUBSCRIBE_LABEL" description="COM_MUE_CONFIG_FIELD_SUBSCRIBE_DESC" default="0">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</field>
		<field name="sub_page_content" type="textarea" label="COM_MUE_CONFIG_FIELD_SUB_PAGE_CONTENT_LABEL" description="COM_MUE_CONFIG_FIELD_SUB_PAGE_CONTENT_DESC" rows="4" cols="70" class="inputbox" required="true" filter="safehtml" buttons="false" />
		<field name="usersub_page_content" type="textarea" label="COM_MUE_CONFIG_FIELD_USERSUB_PAGE_CONTENT_LABEL" description="COM_MUE_CONFIG_FIELD_USERSUB_PAGE_CONTENT_DESC" rows="4" cols="70" class="inputbox" required="true" filter="safehtml" buttons="false" />
		<field name="subemail_email" type="text" label="COM_MUE_CONFIG_FIELD_SUBEMAIL_EMAIL_LABEL" description="COM_MUE_CONFIG_FIELD_SUBEMAIL_EMAIL_DESC" size="70" class="inputbox" required="false" default="" />
		<field name="subemail_name" type="text" label="COM_MUE_CONFIG_FIELD_SUBEMAIL_NAME_LABEL" description="COM_MUE_CONFIG_FIELD_SUBEMAIL_NAME_DESC" size="70" class="inputbox" required="false" default="" />
		<field name="subemail_subject" type="text" label="COM_MUE_CONFIG_FIELD_SUBEMAIL_SUBJECT_LABEL" description="COM_MUE_CONFIG_FIELD_SUBEMAIL_SUBJECT_DESC" size="70" class="inputbox" required="false" default="" />
		<field name="spacer1" type="spacer" hr="true" />
		<field name="paypal" type="radio" class="inputbox" label="COM_MUE_CONFIG_FIELD_PAYPAL_LABEL" description="COM_MUE_CONFIG_FIELD_PAYPAL_DESC" default="1">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</field>
		<field name="paypal_mode" type="radio" class="inputbox" label="COM_MUE_CONFIG_FIELD_PAYPALMODE_LABEL" description="COM_MUE_CONFIG_FIELD_PAYPALMODE_DESC">
			<option value="live">Live</option>
			<option value="sandbox">Sandbox</option>
		</field>
		<field name="paypal_username" type="text" label="COM_MUE_CONFIG_FIELD_PAYPALUSERNAME_LABEL" description="COM_MUE_CONFIG_FIELD_PAYPALUSERNAME_DESC" size="70" class="inputbox" required="false" default="" />
		<field name="paypal_password" type="text" label="COM_MUE_CONFIG_FIELD_PAYPALPASSWORD_LABEL" description="COM_MUE_CONFIG_FIELD_PAYPALPASSWORD_DESC" size="70" class="inputbox" required="false" default="" /> 
		<field name="paypal_signature" type="text" label="COM_MUE_CONFIG_FIELD_PAYPALSIG_LABEL" description="COM_MUE_CONFIG_FIELD_PAYPALSIG_DESC" size="70" class="inputbox" required="false" default="" /> 
		<field name="spacer2" type="spacer" hr="true" />
		<field name="redemption" type="radio" class="inputbox" label="COM_MUE_CONFIG_FIELD_REDEEM_LABEL" description="COM_MUE_CONFIG_FIELD_REDEEM_DESC" default="1">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</field>
	</fieldset>
	<fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL" description="JCONFIG_PERMISSIONS_DESC">
		<field name="rules" type="rules" label="JCONFIG_PERMISSIONS_LABEL" class="inputbox" validate="rules" filter="rules" component="com_continued" section="component" />
	</fieldset>
</config>

